# cx_Oracle has a dependency on instantclient
ORACLE_HOME=<absolute path to instantclient>
DYLD_LIBRARY_PATH=$ORACLE_HOME:$DYLD_LIBRARY_PATH
LD_LIBRARY_PATH=$ORACLE_HOME:$LD_LIBRARY_PATH
PATH=$ORACLE_HOME:$PATH
